<footer class="bg-[#563aff] pt-5">
  <div class="container">
    <div class="flex flex-row items-center justify-between border-b border-[#A393FF]">
      <a href="index.html" class="logo">
        <img width="172" height="47" src="./assets/images/logo-color.png" alt="image" class="logo__img" />
      </a>
      <p class="max-w-lg text-n8">Empowering Businesses Through Expert IT Solutions and Nationwide Technical Support</p>
    </div>
  </div>
  <div class="container border-b border-[#A393FF] py-14 lg:py-28">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
        <h5 class="h5 mb-5 text-n8">IT Services</h5>
        <ul class="flex flex-col gap-2">
          <li>
            <a href="about.html" class="text-n8 duration-300 hover:text-secondary">About Us</a>
          </li>
          <li>
            <a href="services.html" class="text-n8 duration-300 hover:text-secondary">Service</a>
          </li>
          <li>
            <a href="case-studies.html" class="text-n8 duration-300 hover:text-secondary">Case Study</a>
          </li>
          <li>
            <a href="pricing.html" class="text-n8 duration-300 hover:text-secondary">Pricing Plan</a>
          </li>
          <li>
            <a href="why-choose-us.html" class="text-n8 duration-300 hover:text-secondary">Why Choose Us</a>
          </li>
        </ul>
      </div>
      <div class="col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
        <h5 class="h5 mb-5 text-n8">Quick Link</h5>
        <ul class="flex flex-col gap-2">
          <li>
            <a href="referral.html" class="text-n8 duration-300 hover:text-secondary">Referral</a>
          </li>
          <li>
            <a href="coming-soon.html" class="text-n8 duration-300 hover:text-secondary">Coming Soon</a>
          </li>
          <li>
            <a href="terms.html" class="text-n8 duration-300 hover:text-secondary">Terms & Condition</a>
          </li>
          <li>
            <a href="newsletter.html" class="text-n8 duration-300 hover:text-secondary">Newsletter</a>
          </li>
          <li>
            <a href="404.html" class="text-n8 duration-300 hover:text-secondary">404</a>
          </li>
        </ul>
      </div>
      <div class="col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-2">
        <h5 class="h5 mb-5 text-n8">Support</h5>
        <ul class="flex flex-col gap-2">
          <li>
            <a href="contact.html" class="text-n8 duration-300 hover:text-secondary">Contact Us</a>
          </li>
          <li>
            <a href="leadership.html" class="text-n8 duration-300 hover:text-secondary">Leadership Page</a>
          </li>
          <li>
            <a href="facts.html" class="text-n8 duration-300 hover:text-secondary">Facts</a>
          </li>
          <li>
            <a href="faq.html" class="text-n8 duration-300 hover:text-secondary">FAQ</a>
          </li>
          <li>
            <a href="help.html" class="text-n8 duration-300 hover:text-secondary">Help Center</a>
          </li>
        </ul>
      </div>
      <div class="col-span-6 sm:col-span-4 md:col-span-3 xl:col-span-3">
        <h5 class="h5 mb-5 text-n8">Learn Fact</h5>
        <ul class="flex flex-col gap-2">
          <li>
            <a href="leadership-details.html" class="text-n8 duration-300 hover:text-secondary">Leadership Details</a>
          </li>
          <li>
            <a href="getting-started.html" class="text-n8 duration-300 hover:text-secondary">Getting Started</a>
          </li>
          <li>
            <a href="blog-details.html" class="text-n8 duration-300 hover:text-secondary">Blog Details</a>
          </li>
          <li>
            <a href="service-details.html" class="text-n8 duration-300 hover:text-secondary">Service Details</a>
          </li>
        </ul>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-3">
        <h5 class="h5 mb-5 text-n8">Contact us</h5>
        <ul class="flex flex-col gap-3">
          <li>
            <div class="flex items-start gap-6">
              <span class="flex items-center justify-center rounded-full bg-danger p-3 text-n8">
                <i class="ti ti-phone"></i>
              </span>
              <span class="flex flex-col">
                <span class="block text-sm text-n8">Phone</span>
                <a href="tel:(02)53103234" class="text-base text-n8 hover:text-secondary">(02) 5310 3234</a>
              </span>
            </div>
          </li>
          <li>
            <div class="flex items-start gap-6">
              <span class="i flex rounded-full bg-success p-3 text-n8">
                <i class="ti ti-mail"></i>
              </span>
              <span class="flex flex-col">
                <span class="block text-sm text-n8">Email</span>
                <a href="mailto:ssi.itsales.solutions@gmail.com" class="text-n8 hover:text-secondary">ssi.itsales.solutions@gmail.com</a>
              </span>
            </div>
          </li>
          <li>
            <div class="flex items-start gap-6">
              <span class="i flex rounded-full bg-warning p-3 text-n8">
                <i class="ti ti-map-pin"></i>
              </span>
              <span class="flex flex-col">
                <span class="block text-sm text-n8">Location</span>
                <span class="text-base text-n8">648 Luis Ma.Guerero Street, Malate.</span>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="lg:py-[30px py-5">
    <div class="container">
      <div class="grid grid-cols-12 items-center gap-6">
        <div class="col-span-12 md:col-span-6">
          <p class="text-center text-n8 md:text-start">Copyright <a href="index.html" class="duration-300 hover:text-secondary">@SmartcompSolutions</a> All Rights Reserved.</p>
        </div>
        <div class="col-span-12 md:col-span-6">
          <ul class="mt-2.5 flex justify-center gap-2 lg:justify-end">
            <li>
              <a href="#" class="flex items-center justify-center rounded-full bg-n8 p-2 text-primary duration-300 hover:bg-secondary hover:text-n8">
                <i class="ti ti-brand-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" class="flex items-center justify-center rounded-full bg-n8 p-2 text-primary duration-300 hover:bg-secondary hover:text-n8">
                <i class="ti ti-brand-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" class="flex items-center justify-center rounded-full bg-n8 p-2 text-primary duration-300 hover:bg-secondary hover:text-n8">
                <i class="ti ti-brand-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#" class="flex items-center justify-center rounded-full bg-n8 p-2 text-primary duration-300 hover:bg-secondary hover:text-n8">
                <i class="ti ti-brand-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
