<ul class="group-hover:event-unset pointer-events-none invisible absolute right-0 top-[120%] min-w-[200px] columns-4 bg-n7 p-3 text-n2 opacity-0 duration-300 group-hover:visible group-hover:top-full group-hover:opacity-100 lg:px-5">
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="about-us.html">About us One</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="about-us-2.html">About us Two</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="about-us-3.html">About us Three</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="leadership.html">Leadership</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="leadership-details.html">Leadership Details</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="why-choose.html">Why Choose Us 1</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="why-choose-2.html">Why Choose Us 2</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="facts.html">History & Facts</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="faqs.html">Faqs</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="career.html">Career</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="career-details.html">Career Details</a>
  </li>

  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="pricing.html">Pricing</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="pricing-2.html">Pricing 02</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="getting-started.html">Getting Started</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="help-center.html">Help Center</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="help-center-details.html">Help Center Details</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-1.html">Case Study 01</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-2.html">Case Study 02</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-3.html">Case Study 03</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-4.html">Case Study 04</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-5.html">Case Study 05</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-6.html">Case Study 06</a>
  </li>

  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-details.html">Case Study Details 01</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-details-2.html">Case Study Details 02</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-details-3.html">Case Study Details 03</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-details-4.html">Case Study Details 04</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-details-5.html">Case Study Details 05</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-details-6.html">Case Study Details 06</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="case-study-details-7.html">Case Study Details 07</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="checkout.html">Checkout</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="coming-soon.html">Comming Soon</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="contact-3.html">Contact</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="facts.html">Facts</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="faqs-2.html">Faqs 02</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="getting-started.html">Getting Started</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="not-found.html">Not Found</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="profile.html">Profile</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="shop-details.html">Shop Details</a>
  </li>

  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="wishlist.html">Wishlist</a>
  </li>

  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="referral.html">Referral</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="coming-soon.html">Coming Soon</a>
  </li>
  <li class="min-w-[180px]">
    <a class="relative inline-block py-2 duration-200 after:absolute after:bottom-0 after:right-0 after:h-0.5 after:w-0 after:bg-secondary after:transition-all after:duration-300 hover:after:left-0 hover:after:right-auto hover:after:w-full" href="terms-and-conditions.html">Terms and conditions</a>
  </li>
</ul>
